html {
    display: table;
    height: 100%;
    width: 100%;
}

body {
    background: #222;
    color: #fff;
    display: table-cell;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    font-family: Arial;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: #fff;
}

ul.media-menu {
    list-style: none;
    border-collapse: collapse;
    display: table;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100px;
    -webkit-animation: slidefade 0.5s ease-out;
    animation: slidefade 0.5s ease-out;
}

@-webkit-keyframes slidefade {
  from {
    margin-top: -20px;
    opacity: 0;
  }

  to {
    margin-top: 0;
    opacity: 100%;
  }
}

keyframes slidefade {
  from {
    margin-top: -20px;
    opacity: 0;
  }

  to {
    margin-top: 0;
    opacity: 100%;
  }
}

ul.media-menu li.media-menu-item {
    border: 0;
    display: table-cell;
    opacity: 0.5;
    -webkit-transition: opacity 0.5s;
    min-height: 100px;
    text-align: center;
    vertical-align: middle;
}

ul.media-menu li.media-menu-item:hover {
    opacity: 1;
    -webkit-transition: opacity 0.5s;
}

ul.media-menu a {
    height: 100%;
    width: 100%;
    display: table;
    vertical-align: middle
}

ul.media-menu a .list-item-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.icon {
    fill: #fff;
    -webkit-transform: scale(2);
}

.icon-svg {
    width: 64px;
    height: 64px;
}

@media all and (max-width: 700px){
    ul.media-menu {
        height: 100%;
        width: 100%;
    }

    ul.media-menu li.media-menu-item {
        display: table-row;
    }
}

@media (max-width: 700px) and (max-height: 500px), (min-width: 700px) and (max-height: 200px){
    body {
        font-size: 14px;
    }
    .icon-svg {
        width: 32px;
        height: 32px;
    }
    .icon {
        -webkit-transform: scale(1);
    }

}